<div *ngIf="lienholder">

	<h2>{{lienholder.name | uppercase}} Details</h2>
	<div>
		<label><span>Name:         </span>
			<input [(ngModel)]="lienholder.name" placeholder="Lien holder's name"/>	
		</label>
	</div>
	<div>
		<label><span>City:         </span>
			<input [(ngModel)]="lienholder.city" placeholder="Lien holder's city"/>	
		</label>
	</div>
	<div>
		<label><span>Payable Line: </span>
			<input [(ngModel)]="lienholder.payableline" placeholder="Lien holder's payable name"/>	
		</label>
	</div>
	<button (click)="goBack()">go back</button>
</div>
