<h2>Lien Details</h2>
<div>
	<label>Commodity List:
		<input [(ngModel)]="liendetail.commoditylist" placeholder="Secured commodities list"/>	
	</label>
</div>
<div>
	<label>Quantity:
		<input [(ngModel)]="liendetail.quantity" placeholder="Secured quantity (use -1 for all)"/>	
	</label>
</div>
<div>
	<label>Amount:
		<input [(ngModel)]="liendetail.amount" placeholder="Secured amount (use -1 for all)"/>	
	</label>
</div>
<div>
	<label>Crop Year(s):
		<input [(ngModel)]="liendetail.cropyear" placeholder="Secured crop year(s)"/>
	</label>
</div>
<div>
	<label>State(s):
		<input [(ngModel)]="liendetail.state" placeholder="Secured crop state(s)"/>
	</label>
</div>
<div>
	<label>County(ies):
		<input [(ngModel)]="liendetail.county" placeholder="Secured crop county(ies)"/>
	</label>
</div>
<div>
	<label>Joint Payable Line:
		<input [(ngModel)]="liendetail.jointpayableline" placeholder="Producer's payable name"/>
	</label>
</div>
<div>
	<label>Other Obligations:
		<input [(ngModel)]="liendetail.otherobligation" placeholder="Any additional obligations"/>
	</label>
</div>
<div>
	<label>Date Placed:
		<input [(ngModel)]="liendetail.dateplaced" placeholder="Date security placed"/>
	</label>
</div>
<div>
	<label>Date Released:
		<input [(ngModel)]="liendetail.datereleased" placeholder="Date security released"/>
	</label>
</div>
<div>
	<label>Date Expired:
		<input [(ngModel)]="liendetail.dateexpired" placeholder="Date security expired"/>
	</label>
</div>
<div>
	<label>Government:
		<input [(ngModel)]="liendetail.government" placeholder="Government"/>
	</label>
</div>
<div>
	<label>Warning:
		<input [(ngModel)]="liendetail.warning" placeholder="Warning"/>
	</label>
</div>